$mainBlue: #2baae2;
$lightBrown: #FDD9B5;
$lightGray: #e0e4e6;
$middleGray: #3b3b3b;
$gray: #808080;
$logoYellow: #F3E8AF;
$logoGreen: #A9D7C8;
$yellow: #E9FB00;
$lightBlack: #080808;
$blue: #0051bd;
$darkBlue: #00347b;


//
$coldGray: #E6EAE9;
$coldBlue: #A7C2D3;
$coldDarkGray: #92A1A6;
$coldDarkBlue: #6C8693;

//
$extraBlue1: #0082F0;
$extraBlue2: #199EF3;
$extraLightBlue1: #88C6FC;
$extraLightBlue2: #B9DEFE;
$extraWhite: #FEFEFE;

//
$beautyPink: #ffb7a8;
$beautyGrin: #82A9B0;
$beautyBlue: #3878A4;





