.areas {
  &__body {}
  &__preview {
    background: #000;
    padding-bottom: 150px;
    @media (max-width: $mobileWith + 'px') {
      padding-bottom: 100px;
    }
  }
  &__content {}
}


.areas-inner {
  &__body {}
  &__title {
    width: 500px;
  }
  &__cards {
    background-color: #101010;
    &_body {
      margin: 0 auto;
      padding: 120px 20px 120px 20px;
      max-width: 1600px;
      @media (max-width: $md1 + 'px') {
        padding: 0px 15px;
        margin: 0 auto;
        max-width: 1020px;
      }
      @media (max-width: $mobileWith+px) {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    
    &_list {
      display: flex;
      margin: 0 -20px;
      flex-wrap: wrap;
      @media (max-width: $md1 + 'px') {
        margin: 0;
      }
    }
  }
}