.header-info {
  position: absolute;
  bottom: 10px;
  right: 15px;
  &__body {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
  &__list {
    display: flex;
  }
}

.header-info-item {
  margin-left: 50px;
  &:first-child {
    margin-left: 0;
  }
  &__body {
    display: flex;
  }
  &__icon {}
  &__value {
    display: flex;
    align-items: center;
    padding-left: 10px;
    &_text {
      display: inline-block;
      cursor: pointer;
      color: $gray;
      @media (max-width: 680px) {
       color: #fff;
       font-size: 20px;
       }
      &:hover {
        color: #fff;
      }
    }
  }
}

.header-descriptor {
  position: absolute;
  bottom: 10px;
  left: 15px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  &__text {
    color: $gray;
  }
}