.main-news {
  background: $lightGray;
  &__body {
    position: relative;
    
  }
}

.main-news-content {
  &__body {}
}

.main-news-list {
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
  @media (max-width: $md1 + 'px') {
    margin: 0;
  }
  &__item {
    padding: 0 20px 150px 20px;
    flex: 0 0 33.333% 0 0; 
    @media (max-width: $md1 + 'px') {
      flex: 50% 0 0;
      padding: 0 40px 150px 0;
      &:nth-child(even) {
        padding-right: 0;
      }
    }
    @media (max-width: $md3 + 'px') {
      flex: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.main-news-item {
  position: relative;
  &__decoration {
    height: 250px;
    position: relative;
    @media (max-width: $md1 + 'px') {
      height: 300px;
    }
    @media (max-width: $md3 + 'px') {
      height: 400px;
    }
    @media (max-width: $md4 + 'px') {
      height: 250px;
    }
    &_img {
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
    }
  }
  &__info {
    &_title {
      margin-top: 20px;
      min-height: 70px;
    }
    &_text {
      margin-top: 20px;
      color: $middleGray;
    }
    &_date {
      position: absolute;
      bottom: 100px;
      margin-top: 20px;
      display: flex;
    }
    &_date-title {
      padding-left: 30px;
      font-weight: bold;
    }
    &_date-number {
      margin-left: 10px;
    }
  }
}


.main-news-links {
  display: flex;
  justify-content: space-between;
  @media (max-width: $md1 + 'px') {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__social {
    border-bottom: 2px solid $blue;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    position: relative;
    @media (max-width: 1180px) {
      margin-right: 30px;
    }
    @media (max-width: $md1 + 'px') {
      margin-right: 20px;
      margin-top: 70px;
    }
    &_link {
      font-size: 15px;
      color: $middleGray;
      padding-right: 120px;
      
      @media (max-width: $md1 + 'px') {
        padding-right: 70px;
      }
      @media (max-width: $md3 + 'px') {
        padding-right: 60px;
      }
    }
    &_ico-1 {
      position: absolute;
      bottom: -5px;
      right: 45px;
      @media (max-width: $md1 + 'px') {
        right: 10px;
      }
    }
    &_ico-2 {
      position: absolute;
      bottom: -3px;
      right: -22px;
    }
  }
}