.section-item-information-advantages {
  &__body {
    display: flex;
    width: 80%;
    height: 550px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
    @media (max-width: $md2 + 'px') {
      width: 100%;
    }
    @media (max-width: 630px) {
      border-radius: 0;
      flex-direction: column;
      height: 1100px;
      box-shadow: none;
    }
    @media (max-width: $md4 + 'px') {
      height: 1000px;
    }
  }
  &__content {
    flex: 70%;
    display: flex;
    flex-direction: column;
    @media (max-width: 630px) {
      flex: 100%;
    }
    &_title {
      background-color: $darkBlue;
      padding: 35px;
      @media (max-width: $md4 + 'px') {
        padding: 25px 10px;
      }
    }
    &_text {
      color: #fff;
      text-align: center;
      display: inline-block;
      width: 100%;
      @media (max-width: $md4 + 'px') {
        font-size: 25px;
      }
    }
    &_list {
      background-color: $lightGray;
      padding: 50px 40px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $md4 + 'px') {
        background: none;
        padding: 50px 0;
      }
    }
  }
  &__decor {
    flex: 30%;
    width: 100%;
    @media (max-width: 630px) {
      flex: 100%;
    }
    &_body {
      height: 100%;
    }
  }
}

.section-item-advantages-decor {
  height: 100%;
  &__image {
    height: 100%;
    // background-image: url('../../../assets/images/rebenok_futbolist_futbol_122132_800x1420.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section-item-advantages {
  display: flex;
  align-items: center;
  @media (max-width: 630px) {
    padding: 15px 0;
  }
  &__icon {}
  &__info {
    padding-left: 30px;
    @media (max-width: $md4 + 'px') {
      padding-left: 20px;
    }
    &_text {
      font-size: 16px;
      @media (max-width: $md2 + 'px') {
        font-size: 14px;
      }
    }
  }
}