.section-coach-info {
  background: #101010;
  min-width: 100%;
  &__body {}
  &__content {
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 100px;
    background: #fff;
  }
}

.section-coach-title {
  &__body {
    width: 500px;
    margin: 0 auto;
    @media (max-width: 550px) {
      width: 100%;
    }
  }
}

.section-coach-content {
  &__body {
    position: relative;
    height: 800px;
    @media (max-width: 1250px) {
      height: 700px;
    }
    @media (max-width: 1100px) {
      height: 600px;
    }
    @media (max-width: 980px) {
      height: 1200px;
    }
    @media (max-width: 540px) {
      height: 1600px;
      margin-bottom: 90px;
    }
  }
  &__list {
    margin-top: 100px;
    display: flex; 
    height: 100%;
    @media (max-width: 980px) {
      flex-direction: column;
    }
  }
  &__link {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 1250px) {
      top: 70%;
    }
    @media (max-width: 980px) {
      top: 50%;
    }
    @media (max-width: 540px) {
      position: static;
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: $blue;
      transform: none;
      padding: 20px 0;
      border-bottom: 1px solid $gray;
    }
  }
}



.section-coach-item {
  flex: 1 1 50%;
  width: 50%;
  @media (max-width: 980px) {
    flex: 100%;
    width: 100%;
  }
  &__body {
    width: 100%;
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    @media (max-width: 980px) {
      background-size: contain;
    }
    @media (max-width: 540px) {
      position: relative;
      background-size: cover;
    }
  }
}

.right-item {
  background-position: right;
  justify-content: flex-start;
  padding-left: 40px;
  @media (max-width: 1250px) {
    padding-left: 20px;
  }
  @media (max-width: 980px) {
    background-color: #101010;
  }
}


.left-item {
  background-position: left;
  justify-content: flex-end;
  padding-right: 40px;
  @media (max-width: 1250px) {
    padding-right: 20px;
  }
}


.coach-item-info {
  background-color: $blue;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 30%);
  width: 250px;
  height: 250px;
  padding: 20px;
  margin-top: 150px;
  @media (max-width: 1100px) {
    margin-top: 50px;
  }
  @media (max-width: 980px) {
    margin-top: 100px;
  }
  @media (max-width: 540px) {
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: none;
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-top: 0;
  }
  &__name {
    position: relative;
    &_value {
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 50px;
      height: 1px;
      background-color: #fff;
      @media (max-width: 540px) {
        display: none;
      }
    }
  }
  &__description {
    padding-top: 10px;
    @media (max-width: 540px) {
      padding-top: 5px;
    }
    &_text {
      line-height: 1;
      color: #d3d3d3;
    }
  }
}

